{% extends 'base.html.twig' %}
{% block title %}Blog{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <!--<form class="form-inline my-2 my-lg-0" action="{{ path('blog_search') }}" method="get">
                <input class="form-control mr-sm-2" type="search" aria-label="Search" name="q">
                <button class="btn btn-default my-2 my-sm-0" type="submit">Поиск</button>
            </form>-->
            <div class="content-grids">
                <div class="col-md-8 content-main">
                    <div class="content-grid">
                        {% for post in posts %}
                            <div class="content-grid-info">
                                <img src="/blog/images/post{{ img }}.jpg" alt=""/>
                                <div class="post-info">
                                    <h4><a href="{{ path('blog_show', {'slug': post.slug}) }}">Post</a>{{ post.getCreatedAt() | date("m/d/Y") }}</h4>
                                    <p>{{ post.title }}</p>
                                    <a href="{{ path('blog_show', {'slug': post.slug}) }}"><span></span>READ MORE</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 content-right">
                    <div class="recent">
                        <h3>RECENT POSTS</h3>
                        <ul>
                            <li><a href="#">Aliquam tincidunt mauris</a></li>
                            <li><a href="#">Vestibulum auctor dapibus  lipsum</a></li>
                            <li><a href="#">Nunc dignissim risus consecu</a></li>
                            <li><a href="#">Cras ornare tristiqu</a></li>
                        </ul>
                    </div>
                    <div class="comments">
                        <h3>RECENT COMMENTS</h3>
                        <ul>
                            <li><a href="#">Amada Doe </a> on <a href="#">Hello World!</a></li>
                            <li><a href="#">Peter Doe </a> on <a href="#"> Photography</a></li>
                            <li><a href="#">Steve Roberts  </a> on <a href="#">HTML5/CSS3</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="archives">
                        <h3>ARCHIVES</h3>
                        <ul>
                            <li><a href="#">October 2013</a></li>
                            <li><a href="#">September 2013</a></li>
                            <li><a href="#">August 2013</a></li>
                            <li><a href="#">July 2013</a></li>
                        </ul>
                    </div>
                    <div class="categories">
                        <h3>CATEGORIES</h3>
                        <ul>
                            <li><a href="#">Vivamus vestibulum nulla</a></li>
                            <li><a href="#">Integer vitae libero ac risus e</a></li>
                            <li><a href="#">Vestibulum commo</a></li>
                            <li><a href="#">Cras iaculis ultricies</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <a href="{{ path('new_blog_post') }}">Создать</a>
            <div class="col-sm-12 col-md-5" id="getTotalItemCount">
                Total items: {{ posts.getTotalItemCount }}
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="knp_pagination_render">
                    {{ knp_pagination_render(posts) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
