{% extends 'base.html.twig' %}

{% block title %}Create post{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.body, { 'attr': {
        'rows' : '20',
        'cols' : '40' }}) }}
    <small class="d-block text-right mt-3">
        <button class="btn btn-default" type="submit">Submit</button>
    </small>
    {{ form_end(form) }}
{% endblock %}