{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
	<div class="single">
		<div class="container">
			<div class="col-md-8 single-main">
				<div class="single-grid">
					<p><h4>{{ post.title }}</h4></p>
					<img src="/blog/images/post{{ img }}.jpg" alt=""/>
					<p>{{ post.body }}</p>
					<span>{{ post.getCreatedAt() | date("m/d/Y") }}</span>
					<br>
					<br>
					<a href="{{ path('blog_post_edit', {'slug': post.slug}) }}" class="btn-primary">Edit</a>&nbsp;
					<a href="{{ path('blog_post_delete', {'slug': post.slug}) }}" class="btn-danger">Delete</a>&nbsp;
					<a href="{{ path('blog_posts') }}" class="btn-default">Home</a>
				</div>
				<ul class="comment-list">
					<h5 class="post-author_head">Written by <a href="#" title="Posts by user.name" rel="author">user</a></h5>
					<li><img src="/blog/images/avatar.png" class="img-responsive" alt="">
						<div class="desc">
							<p>View all posts by: <a href="#" title="Posts by user" rel="author">user</a></p>
						</div>
						<div class="clearfix"></div>
					</li>
				</ul>
				<ul class="comment-list">
					{%  for comment in post.comments %}
						{% if comment.comment != null %}	<li>
								<div class="desc">
									<p>{{ comment.comment }}</p>
									<br>
									<tr>
										<td>{{ comment.users }} - </td>
										<td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d') : '' }}</td>&nbsp;
										{% if (comment.createdAt != comment.updatedAt) %}
											<td>{{ comment.updatedAt ? comment.updatedAt|date('Y-m-d') : '' }}</td>&nbsp;
										{% endif %}
										{#<td>
											<a href="{{ path('comment_edit', {'slug': post.slug, 'id': comment.id}) }}" class="btn-primary">Edit</a>&nbsp;
											<a href="{{ path('comment_delete', {'slug': post.slug, 'id': comment.id}) }}" class="btn-danger">Delete</a>&nbsp;
										</td>#}
									</tr>
								</div>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
				<div class="content-form">
					<h3>Leave a comment</h3>
						{{ form_start(form) }}
							{{ form_row(form.comment) }}
						<button type="submit" class="btn btn-primary">Send</button>
						{{ form_end(form) }}
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
{% endblock %}
