{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.message }}
        </div>
    {% endif %}
    <div class="container" style="padding-top: 160px ">
        <form method="post">
            <div class="form-group">
                <input type="text" name="_username" required="required" class="form-control" id="exampleInputEmail1">
                <small id="emailHelp" class="form-text text-muted"><br>Введите электронный адрес</small>
            </div>
            <div class="form-group">
                <input type="password" name="_password" required="required" class="form-control" id="exampleInputPassword1">
                <small id="emailHelp" class="form-text text-muted"><br>Введите пароль</small>
            </div>
            <button type="submit" class="btn btn-primary">Войти</button><br><br>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <a href="{{ path('connect_google_start') }}">Войти через Google</a><br><br>
            <a href="{{ path('connect_github_start') }}">Войти через Github</a><br><br>
        </form>
    </div>
{% endblock %}