{% extends 'base.html.twig' %}

{% block title %} Регистрация {% endblock %}

{% block body %}

    <div class="container">
        <h3 class="text-center">Регистрация</h3>
        {{ form_start(form) }}
        {{ form_row(form.email, {
            'label': ' '
        }) }}
        {{ 'Введите email' }}
        {{ form_row(form.plainPassword.first, {
            'label': ' ', 'class': 'form-control'
        }) }}
        {{ 'Введите пароль' }}
        {{ form_row(form.plainPassword.second, {
            'label': ' '
        }) }}
        {{ 'Введите пароль повторно' }}<br><br>
        <button type="submit" class="btn btn-success" formnovalidate>Зарегистрироваться</button>
        {{ form_end(form) }}

    </div>
{% endblock %}