{#
    <body onload="startTime()">
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
        <div id="txt" class="clock"></div>
#}

<!DOCTYPE HTML>
<html>
<head>
    {% block head %}
            <title>{% block title %}Blog{% endblock %}</title>
        {% block stylesheets %}
            <link href="/blog/css/bootstrap.css" rel='stylesheet' type='text/css' />
            <link href="/blog/css/style.css" rel='stylesheet' type='text/css' />
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <!----webfonts---->
            <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
            <!----//webfonts---->
        {% endblock %}
        {% block javascripts %}
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <!--end slider -->
            <!--script-->
            <script type="text/javascript" src="/blog/js/move-top.js"></script>
            <script type="text/javascript" src="/blog/js/easing.js"></script>
            <!--/script-->
            <script type="text/javascript">
                jQuery(document).ready(function($) {
                    $(".scroll").click(function(event){
                        event.preventDefault();
                        $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
                    });
                });
            </script>
            <!---->
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    <!---header---->
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="/posts"><img src="/blog/images/logo.jpg" title="" /></a>
            </div>
            <!---start-top-nav---->
            <div class="top-menu">
                <div class="search">
                    <form action="{{ path('blog_search') }}" method="get">
                        <input type="text" placeholder="" required="" name="q">
                        <input type="submit" value=""/>
                    </form>
                </div>
                <span class="menu"> </span>
                <ul>
                    <li class="active"><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <div class="clearfix"> </div>
                </ul>
            </div>
            <div class="clearfix"></div>
            <script>
                $("span.menu").click(function(){
                    $(".top-menu ul").slideToggle("slow" , function(){
                    });
                });
            </script>
            <!---//End-top-nav---->
        </div>
    </div>
    <!--/header-->
    <!---content--->
    {% block content %}
    {% endblock %}
    <!--/content-->
    <!---footer--->
    <div class="footer">
        <div class="container">
            <p>Copyrights © {{ "now"|date('Y') }} Blog</p>
        </div>
    </div>
    <!--/footer-->
{% endblock %}
</body>
</html>
